<div class="card">
    <div class="card-header">
        <h3 class="articleTitle">{{title}}</h3>
        <button class="btn-success btnSaveArticle" data-id={{id}}>Save Article</button>
    </div>
    <div class="card-block">
        <p class="description">{{description}}</p>
    </div>
</div>