<div class="card">
    <div class="card-header">
        <a href={{link}}><h2>{{title}}</h2></a>
    </div>
    <div class="card-block">
    </div>
    <button class="btn btn-primary" id="btnArticleNotes" data-id={{_id}}>Article Notes</button>
    <button class="btn btn-danger" id="btnDeleteArticle" data-id={{_id}}>Delete From Saved</button>
</div>