<div class="container" id="articleBlock">

</div>
<div class="container">
    {{!-- <div class="modal fade" id="scrapeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <h3 id="scrapeHeader"></h3>
        </div>
    </div> --}}
    <div class="modal fade" id="scrapeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="scrapeModalHeader">Modal title</h5>
        
        </div>
        
        </div>
    </div>
    </div>

    <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noteModalHeader"></h5>
                
            </div>
            <div class="modal-body">
                <div id="noteBlock">
                    
                </div>
            </div>
            <div class="modal-footer">
                <textarea id="noteInput">

                </textarea>
                <button class="btn btn-success" id="btnSaveNote">Save</button>
            </div>
        </div>
    </div>
    </div>


</div>